In [1]:
import pandas as pd

In [11]:
# 금리 데이터 불러오기
df = pd.read_csv('금리_변동일자.csv', encoding = 'ANSI')
df.head(1)

   Unnamed: 0       연월  미국_금리(%)  일본_금리(%)  중국_금리(%)  한국_금리(%)
0           0  1995/01       5.5      1.75     12.06     14.01

In [12]:
# 불필요 칼럼 제거
df = df.drop(columns = 'Unnamed: 0')
df.head(1)

        연월  미국_금리(%)  일본_금리(%)  중국_금리(%)  한국_금리(%)
0  1995/01       5.5      1.75     12.06     14.01

In [13]:
# 데이터 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연월        332 non-null    object
 1   미국_금리(%)  69 non-null     float64
 2   일본_금리(%)  12 non-null     float64
 3   중국_금리(%)  41 non-null     float64
 4   한국_금리(%)  58 non-null     float64
dtypes: float64(4), object(1)
memory usage: 13.1+ KB

In [14]:
# 결측데이터 확인
df.isna().sum()

연월            0
미국_금리(%)    263
일본_금리(%)    320
중국_금리(%)    291
한국_금리(%)    274
dtype: int64

In [15]:
# Nan데이터 위의 데이터로 채우기
df.fillna(method = 'ffill', inplace = True)

In [17]:
df.isna().sum()

연월          0
미국_금리(%)    0
일본_금리(%)    0
중국_금리(%)    0
한국_금리(%)    0
dtype: int64

In [18]:
df.to_csv('금리.csv')